.section-container  {
  width: 85%;
  margin-bottom: 30px;

  .section-error {
    text-align: left;
  }

  h2 {
    text-align: left;
    font-size: 1.8em;
    margin: 8px 0 8px 16px;
  }
}

@media (max-width: 500px) {
  .section-container {
    width: 95%;
  }
}