.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 7;
  margin-top: 90px;
}

.page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 500px) {
  .main-container {
    margin-left: 10%;
  }
}