header {
  width: 100%;
  height: 75px;
  position: fixed;
  box-shadow: 5px 5px 5px #00000047;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    position: absolute;
    left: 0;
    margin: 20px;
  }

  form {
    height: 60%;
    margin: 20%;
    width: 33%;
    display: flex;

    button {
      border: none;
      border-radius: 6px 0 0 6px;
      cursor: pointer;
      font-size: 1.2em;
    }
    .search {
      height: 100%;
      width: 100%;
      border: none;
      background-color: #f2f2f2;
      border-radius: 0 6px 6px 0;
      font-size: 1.5em;
      color:#414141
    }
}
}