.article-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 12px;
  margin: 10px;

  .article-container--text {
    text-align: left;
    margin: 10px;

    h4 {
      font-size: 1.5em;
    }
  }

  .article-container--image {
    margin: 10px;
    border-radius: 12px;
  }
}